<%
    var logo = theme.logo;
    if (!logo) {
        logo = theme.image_src;
    }
    logo = url_for(logo);
%>
    <div class="layout-header">
        <header class="header">
            <div class="layout-logo">
                <div class="panel-logo">

                    <div class="box-logo">
                        <a href="<%- url_for(config.root) %>" title="<%= config.title %>"><img src="<%= logo %>" class="img-logo"></a>
                    </div>
                    <div class="box-main-title">
                        <h2><a href="<%- url_for(config.root) %>"><%= config.author%></a></h2>
                    </div>
                    <div class="box-sub-title">
                        <% if (config.intro) { %>
                            <p><%= config.intro %></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="layout-menu">
                <div class="menu-group">
                    <nav>
                        <ul class="menu-list">
                            <% if (theme.menu.home) { %>
                            <li class="menu-item">
                                <a href="<%- url_for(theme.menu.home) %>">
                                    <i class="fa fa-home gutter-right menu-icon"></i>
                                    <span class="menu-item"><%= _p('menu.home') %></span>
                                </a>
                            </li>
                            <% } // end if %>
                            <% if (theme.menu.archive) { %>
                            <li class="menu-item">
                                <a href="<%- url_for(theme.menu.archive) %>">
                                    <i class="fa fa-archive gutter-right"></i>
                                    <span class="menu-item"><%= _p('menu.archive') %></span>
                                </a>
                            </li>
                            <% } // end if %>
                            <% if (config.tag_dir) { %>
                            <li class="menu-item">
                                <a href="<%- url_for(config.tag_dir) %>">
                                    <i class="fa fa-tags gutter-right"></i>
                                    <span class="menu-item"><%= _p('menu.tags') %></span>
                                </a>
                            </li>
                            <% } // end if %>
                            <% if (theme.rss) { %>
                            <li class="menu-item">
                                <a href="<%- url_for(theme.rss) %>">
                                    <i class="fa fa-rss-square gutter-right"></i>
                                    <span class="menu-item"><%= _p('menu.rss') %></span>
                                </a>
                            </li>
                            <% } // end if %>
                        </ul>
                    </nav>
                </div>

                <% if (theme.extlinks) { %>
                <div class="menu-group">
                    <div class="menu-list">
                    <% for (var k in theme.extlinks) { var link = theme.extlinks[k] %>
                        <div class="menu-item">
                            <a href="<%= link.url %>" target="_blank">
                                <% if (link.fa) { %>
                                    <i class="fa fa-<%= link.fa %> gutter-right"></i>
                                <%} else { %>
                                    <i class="fa fa-external-link gutter-right"></i>
                                <%} %>
                            <%= link.name %>
                            </a>
                        </div>
                    <% } // end of for %>
                    </div>
                </div>
                <% } // end of dynamic links %>

                <% if (theme.deflinks) { %>
                <div class="menu-group deflinks">
                    <div class="menu-list text-center">
                        <% if (theme.deflinks.github) { %>
                        <a href="<%= theme.deflinks.github%>" target="_blank">
                            <i class="fa fa-github-square gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.twitter) { %>
                        <a href="<%= theme.deflinks.twitter %>" target="_blank">
                            <i class="fa fa-twitter-square gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.facebook) { %>
                        <a href="<%= theme.deflinks.facebook%>" target="_blank">
                            <i class="fa fa-facebook-square gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.gplus) { %>
                        <a href="<%= theme.deflinks.gplus%>" target="_blank">
                            <i class="fa fa-google-plus-square gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.linkedin) { %>
                        <a href="<%= theme.deflinks.linkedin %>" target="_blank">
                            <i class="fa fa-linkedin-square gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.instagram) { %>
                        <a href="<%= theme.deflinks.instagram %>" target="_blank">
                            <i class="fa fa-instagram gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                        <% if (theme.deflinks.slideshare) { %>
                        <a href="<%= theme.deflinks.slideshare%>" target="_blank">
                            <i class="fa fa-slideshare gutter-right menu-icononly"></i>
                        </a>
                        <%} %>

                    </div>
                </div>
                <% } // end of default links %>
            </div>

        </header>
    </div>
