<!DOCTYPE html>
<%
    var _lang = 'zh-Hant-TW';
    _lang = config.lang ? config.lang: _lang;
    _lang = theme.lang ? theme.lang: _lang;
%>
<html lang="<%= _lang %>">
    <head>
        <%- partial('_layout/head') %>
    </head>

    <body>
        <%- partial('_layout/header') %>
        <div class="layout-content">
            <%- body %>
        </div>
        <%- partial('_layout/footer') %>
    </body>
</html>
