
<div class="row panel-content panel-archive-index">
    <h2 class="panel-archive-index-title"><%= panel_title %></h2>
    <div class="box-archive-index">
        <div class="col-1-3">

            <h3><%= _p('sitemap.archives') %></h3>
            <%- list_archives() %>
        </div>

        <div class="col-1-3">
            <h3><%= _p('sitemap.categories') %></h3>
            <%- list_categories() %>
        </div>

        <div class="col-1-3">
            <h3><%= _p('sitemap.tags') %></h3>
            <%- list_tags() %>
        </div>
    </div>
</div>
