<div class="row panel-content">
    <%
        var title = !!page.title ? page.title : 'No Title';
        var link = !!page.link ? page.link : url_for(page.path);
    %>

    <div class="article-wrap">
        <%- partial('./article-content',
                    {'title': title,
                        'link': link,
                        'content': page.content,
                        'moreBtn': false}) %>
        <%- partial('./article-meta', {'article': page}) %>
    </div>

    <div class="panel-post-nav">
        <div class="box-post-nav">
            <% if (page.prev) { %>
                <a class="btn" href="<%- url_for(config.root + page.prev.path) %>" title="<%-page.prev.title %>"><b><%-page.prev.title%></b> &larr; Prev</a>
            <% } %>
            <% if (page.next) { %>
                <a class="btn" href="<%- url_for(config.root + page.next.path) %>" title="<%-page.next.title %>">Next &rarr; <b><%-page.next.title%></b></a>
            <% } %>
        </div>
    </div>
</div>
