<div class="panel-content">
    <div class="row">
        <div class="title">
            <h1 id="blog-title"><%= config.title %></h1>
        </div>
        <div class="">
            <%
                page.posts.each(function(post) {
                    var target = '';
                    var url = post.path;
                    if (post.link) {
                        url = post.link;
                        target = ' target="_blank"';
                    }
                    var title = post.title;
                    if (!title) {
                        title = 'No Title';
                    }

                    preview = title;
                    preview = post.excerpt ? post.excerpt: preview;
            %>
            <div class="article-wrap">
                <article class="content" itemscope itemtype="http://schema.org/Article" >
                    <h1 class="article-title">
                        <a href="<%= url_for(url) %>" itemprop="url" <%- target %>>
                            <span  class=""><%= title %></span>
                        </a>
                    </h1>

                    <%- preview %>
                    <br>
                    <a href="<%= url_for(url) %>">
                        <span class="read-more">
                            <i class="fa fa-file-text-o"></i>
                            <%= _p('index.read_more') %> &gt;&gt;
                        </span>
                    </a>
                </article>
                <%- partial('./article-meta', {'article': post}) %>
            </div>


            <% }); // end of posts for-loop %>
        </div>
    </div>
</div>

