<div class="panel-content">
    <div class="row">
        <div class="title">
            <h1 id="blog-title"><%= config.title %></h1>
        </div>
        <div class="">
            <%
                page.posts.each(function(post) {
                    var target = '';
                    var url = post.path;
                    if (post.link) {
                        url = post.link;
                        target = ' target="_blank"';
                    }
                    var title = post.title;
                    if (!title) {
                        title = 'No Title';
                    }

                    preview = title;
                    preview = post.excerpt ? post.excerpt: preview;
            %>
            <div class="article-wrap">
                <article class="" itemscope itemtype="http://schema.org/Article" >
                    <h1 class="article-title">
                        <a href="<%= url_for(url) %>" itemprop="url" <%- target %>>
                            <span  class=""><%= title %></span>
                        </a>
                    </h1>

                    <%- preview %>
                    <br>
                    <a href="<%= url_for(url) %>">
                        <span class="read-more">
                            <i class="fa fa-file-text-o"></i>
                            <%= _p('index.read_more') %> &gt;&gt;
                        </span>
                    </a>
                </article>
                <div class="article-meta">
                    <div class="groups">
                        <span class="group">
                            <a href="<%- url_for(url) %>">
                                <i class="fa fa-calendar"></i>
                                <span class="archive-item-date"
                                    itemprop="datePublished"
                                    content="<%= date(page.date) %>"><%= date(post.date) %></span>
                            </a>
                        </span>

                        <span class="group">
                            <% if (post.categories) {%>
                            <% post.categories.each(function(category) {%>
                                <a href="<%= url_for(category.path) %>">
                                    <i class="fa fa-th"></i>
                                    <span class=""><%= category.name %></span>
                                </a>
                            <% });} // end of categories %>
                        </span>

                        <span class="group float-right">
                            <% if (post.tags) {%>
                            <% post.tags.each(function(tag) {%>
                                <a href="<%= url_for(tag.path) %>">
                                    <span class="tag"><%= tag.name %></span>
                                </a>
                            <% });} // end of tags %>
                        </span>
                    </div>

                </div>

            </div>
            <% }); // end of posts for-loop %>
        </div>
    </div>
</div>

